# local config
.vscode
.env
poetry.lock

# venv
/venv
.venv
.tox

# cache and tempfiles
*.pyc
tmp

# local data and large files
/data

# build, metadata and distribution
/dist
/build
*.egg-info

# useless documents
archive
/doc/*
!/doc/source
